<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head') %>
        <title>fav</title>
</head>

<body>
    <header>
        <%- include('header') %>
    </header>
    <h2>fav</h2>

    <%results.forEach(result=>{%>
        <div class="card">
            <h2>
                <%= result.character%>
            </h2>
            <img src="<%= result.image%>" alt="">
            <p>
                <%= result.quote%>
            </p>
            <form action="/favorite-quotes/:id?_method=PUT" method="post">
                <input type="hidden" name="id" value=" <%result.id%>">
                <input type="hidden" name="character" value=" <%result.character%>">
                <input type="hidden" name="image" value=" <%result.image%>">
                <input type="hidden" name="quote" value=" <%result.quote%>">
                <input type="hidden" name="characterDirection" value=" <%result.characterDirection%>">
                <input type="submit" value="SAVE">
            </form>
            <form action="/favorite-quotes/:id?_method=DELETE" method="post">
                <input type="hidden" name="id" value=" <%result.id%>">
                <input type="hidden" name="character" value=" <%result.character%>">
                <input type="hidden" name="image" value=" <%result.image%>">
                <input type="hidden" name="quote" value=" <%result.quote%>">
                <input type="hidden" name="characterDirection" value=" <%result.characterDirection%>"> <input
                    type="submit" value="DELETE">
            </form>



        </div>
        <% }) %>



</body>

</html>